<mat-card>
  <h3>Trade Registration</h3>
  <div
    fxLayout="row"
    fxLayoutGap="24px"
    [style.margin-top]="'12px'"
    [style.margin-left]="'10px'"
  >
    <button mat-fab color="primary">Step 1</button>
    <button mat-button disabled>
      <a mat-fab routerLink="." color="" disabled>Step 2</a>
    </button>
    <button mat-button disabled>
      <a mat-fab routerLink="." color="" disabled>Step 3</a>
    </button>
    <button mat-button disabled>
      <a mat-fab routerLink="." color="" disabled>Step 4</a>
    </button>
  </div>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Type of Business</mat-label>
      <select matNativeControl required [formControl]="selectFormControl">
        <option label="--select something --"></option>
        <option value="abcd">Abcd</option>
        <option value="efgh">Efgh</option>
        <option value="ijkl">Ijkl</option>
      </select>
      <!-- <mat-error *ngIf="selectFormControl.hasError('required')">
        This field is required
      </mat-error> -->
      <mat-hint>You can pick up your favorite car here</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Type of Business</mat-label>
      <select matNativeControl required [formControl]="selectFormControl">
        <option label="-- select something --"></option>
        <option value="abcd">Abcd</option>
        <option value="efgh">Efgh</option>
        <option value="ijkl">Ijkl</option>
      </select>
      <!-- <mat-error *ngIf="selectFormControl.hasError('required')">
        This field is required
      </mat-error> -->
      <mat-hint>You can pick up your favorite car here</mat-hint>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="goToTwo()">Next</button>
    <!-- <button mat-button></button> -->
  </mat-card-actions>
</mat-card>
